{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ $subtitle :=  title (i18n (lower .Title)) | default .Title }}
          {{ if eq (len .Ancestors) 2 }}
            Year: {{ $subtitle }}
          {{ else if eq (len .Ancestors) 3 }}
            Month: {{ $subtitle }}
          {{ else }}
            {{ $subtitle }}
          {{ end }}
        </a>
      </h1>
    </header>
    {{ .Content }}
    <ul>
      {{- range .Page.RegularPagesRecursive -}}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
